

img {
    border-radius: 120px;
    width:10vw;
    height:20vh;
    margin-top:5vh;
    margin-bottom:4vh;
}

.upper-container {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top:10vh;
}

.main-container {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    border:solid 1px white;
    width:22%;
    height:40vh;
    border-radius:8px;
}

p {
    padding:0.5rem;
}

.underline {
    text-decoration:underline;
}
.a-role {
    font-size:1rem;
    padding-top:1.2rem;
}