<Files "*.json">
  Order allow,deny
  Deny from all
</Files>
<Files "functions.php">
  Order Allow,Deny
  Deny from all
</Files>
<Files "nav.php">
  Order Allow,Deny
  Deny from all
</Files>
<Files "header.php">
  Order Allow,Deny
  Deny from all
</Files>
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]